*{
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffe4c8;
    height: 100dvh;
   
}

.main-card{
    border-radius: 10px;
    width: 550px;
    height: 400px;
    display: flex;
    
}
.description{
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    animation: anima-desktop-description;
    animation-duration: 2s;
}
.image{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-image: url(../image/image-product-desktop.jpg);
    background-position: center center;
    background-size: cover;
    animation: anima-desktop-image;
    animation-duration: 2s;
}
.image,.description{
    width: 50%;
    height: 100%;
    background-color: white;
}
img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
button{
    height: 45px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border-radius: 5px;
    border: none;
    background-color: #596c51;
    color: white;
    font-size: 17px;
    
}
.card{
    width: 20px;
    height: 18px;
}
.prices{
    display: flex;
    align-items: center;
    gap: 20px;
}
.price{
    color: #596c51;
    font-size: 30px;
}
.prices span{
    text-decoration: line-through;
}
.title{
    font-size: 30px;
}
span{
    color: #aeaeae;
    font-family: 'Times New Roman';
}
strong{
    font-family: 'Times New Roman';
}
p{
    color: #aeaeae;
}
@media screen and (max-width:560px){
    .main-card{
        display: flex;
        flex-direction: column;
        width: 330px;
        height: 560px;
    }
    .image{
        background-image: url(../image/image-product-mobile.jpg);
        background-position: center center;
        background-size: cover;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
        width: 100%;
        height: 200px;
        animation: anima-mobile-image;
        animation-duration: 2s;
    }
    .description{
        width: 100%;
        height: 350px;
        padding: 20px;
        gap: 18px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 0px;
        animation: anima-mobile-description;
        animation-duration: 2s;
    }
}
@keyframes anima-desktop-description {
    from{
        transform: translateX(1000px);
        opacity: 0;
    }to{
        transform: translateX(0);
        opacity: 1;
    }
    
}
@keyframes anima-desktop-image {
    from{
        transform: translateX(-1000px);
        opacity: 0;
    }to{
        transform: translateX(0);
        opacity: 1;
    }
    
}
@keyframes anima-mobile-description {
    from{
        transform: translateY(1000px);
        opacity: 0;
    }to{
        transform: translateY(0);
        opacity: 1;
    }
    
}
@keyframes anima-mobile-image {
    from{
        transform: translateY(-1000px);
        opacity: 0;
    }to{
        transform: translateY(0);
        opacity: 1;
    }
    
}